<!DOCTYPE html>
<html lang="en">
<head>
  <style>

#content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    text-align: center;
    background-color: orange;
}
  </style>
    <title>Download Page</title>
</head>
<body>
    <h1>Download Page.</h1>
<div id="content">
  <div>
    <p> <strong> Download snake game </strong></p>
    <a href="snake.exe">Click me!</a>
</div>
  <div>
    <p>  <strong> Download ball escape </strong></p>
    <a href="shooter.exe">Click me!</a>
  </div>
</div>
</body>
</html>